.drag-and-drop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%;
  margin: 4em auto;
  position: relative;

}


.alex {
  width: 30vw;
  height: 20vh;
  border: 2px dashed grey;
  display: flex;
  flex-direction: column;
  justify-content: center;
  

  p {
    font-size: 3em;
    font-weight: bold;
    text-align: center;
    transition: 1s;
    transform: scale(1);
  }
}

.draggable {
  width: 5em;
  height: 5em;
  padding: 1em;

  &:hover {
    cursor: grabbing;
  }
}

.shrink {
  background-color: turquoise;

  // &::before {
  //   content: "Drink me"
  // }
}

.enlarge {
  background-color: pink;

  // &::before {
  //   content: "Eat me"
  // }
}