body::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1000;
  width: 100vw;
  height: 90vh;
  top: -5em;
  background: linear-gradient(180deg, #3a7494, $green-sheen);
}

body.dark-theme::before {
  background: linear-gradient(180deg, #13171a, #173241);
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100vw;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 30px;
  opacity: 70%;

  i {
    display: inline-block;
    color: #132f38; 
  }

}

.dark-theme header i {
  color: $medium-champagne;
}

.header-right {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
 
  i {
    font-size: 2em;
    margin-left: 15px;
    transition: 0.25s;

    &:hover {
      cursor: pointer;
      transition: 0.25s;
      transform: translateY(-3px);
      color: #111b20;
    }
  }
}

.dark-theme .header-right i:hover {
  color: $yellow-crayola;
}

.fa-sun {
  font-size: 2em;
}

.fa-moon {
  font-size: 1.9em;
  transform: rotate(210deg);
}

.switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
  top: 5px;
}

.switch input {
  display: none;
}

.slider {
  background-color: #cccccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  border-radius: 34px;
  transition: .4s;
}

.slider:before {
  background-color: #ffffff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #999999;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: white;
}
