header {
  // position: absolute;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  width: 100vw;
  background-color: transparent;
  position: sticky;
  top: 0;
  z-index: 100;

  h1 {
    margin-left: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 2em;
    font-weight: 700;
    color: #132f38;
    display: none;
  }
}

body::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1000;
  width: 100vw;
  height: 90vh;
  top: -5em;
  background: linear-gradient(180deg, #3a7494, $green-sheen);
}

.header-right {
  justify-self: flex-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 30px;
 
  i {
    display: block;
    font-size: 2em;
    color: #132f38;
    margin-left: 15px;
    transition: 0.2s;

    &:hover {
      cursor: pointer;
      color: #224b58;
      transition: 0.2s;
      transform: translateY(-2px);
    }
  }
}