.parallax {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-x: visible;
}

#cloud1 {
  position: absolute;
  z-index: 11;
  width: 15%;
  top: 5%;
  left: 3%;
}

#cloud2 {
  position: absolute;
  z-index: 12;
  width: 15%;
  top: 20%;
  right: 5%;
}

#cloud3 {
  position: absolute;
  z-index: 13;
  width: 17.5%;
  top: 40%;
  left: 15%;
}

#title {
  position: absolute;
  z-index: 14;
  left: 50%;
  font-family: $round;
  font-size: 10vw;
  text-align: center;
  line-height: 1;
  word-wrap: normal;
  text-transform: uppercase;
  color: $congo-pink;
  transform: translate(-50%, 10%);
  text-shadow: 5px 5px $apricot;
  -webkit-text-stroke: 5px $apricot;
}

#rabbithole {
  position: absolute;
  z-index: 15;
  width: 120%;
  top: 50%;
  left: 50%;
  transform: translate(-48%);
}

#bush1 {
  position: absolute;
  z-index: 17;
  width: 55%;
  top: 45%;
  left: 0%;
  transform: translate(-10%);
}

#bush2 {
  position: absolute;
  z-index: 16;
  width: 55%;
  top: 45%;
  right: 0%;
  transform: translate(10%);
}

.dummy {
  width: 20%;
  margin: 0 auto;
}