/* Color */

$platinum: #e2e2df;
$light-gray: #d2d2cf;
$champagne-pink: #e2cfc4;
$unbleached-silk: #f7d9c4;
$papaya-whip: #faedcb;
$light-cyan: #c9e4de;
$beau-blue: #c6def1;
$languid-lavender: #dbcdf0;
$orchid-pink: #f2c6de;
$baby-pink: #f9c6c9;
$white-50: #ffffff80;
$white-40: #ffffff66;
$white-25: #ffffff40;
$gray-5: #1010100d;

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-right: linear-gradient(90deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-bottom: linear-gradient(180deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-left: linear-gradient(270deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-top-right: linear-gradient(45deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-bottom-right: linear-gradient(135deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-top-left: linear-gradient(225deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-bottom-left: linear-gradient(315deg, #e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);
$gradient-radial: radial-gradient(#e2e2dfff, #d2d2cfff, #e2cfc4ff, #f7d9c4ff, #faedcbff, #c9e4deff, #c6def1ff, #dbcdf0ff, #f2c6deff, #f9c6c9ff);