/* Color */
/* Dark Mode Color */
/* SCSS Gradient */
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
html, body, div, span, h1, h2, h3, h4, h5, h6,
p, a, code, img, strike, strong,
dl, dt, dd, ol, ul, li,
form, label, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: transparent;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Courier New", Courier, monospace;
}

input[type="password"],
input[type="email"],
input[type="text"],
input[type="submit"],
textarea,
button,
select,
option {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  outline: none;
  background-color: rgba(255, 255, 255, 0.4);
}

button,
input[type="submit"] {
  cursor: pointer;
}

canvas:focus {
  outline: none;
}

body::before {
  content: "";
  position: absolute;
  display: block;
  z-index: -1000;
  width: 100vw;
  height: 90vh;
  top: -5em;
  background: -webkit-gradient(linear, left top, left bottom, from(#3a7494), to(#65b8a9ff));
  background: linear-gradient(180deg, #3a7494, #65b8a9ff);
}

body.dark-theme::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#13171a), to(#173241));
  background: linear-gradient(180deg, #13171a, #173241);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 72px;
  width: 100vw;
  background-color: transparent;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 30px;
  opacity: 70%;
}

header i {
  display: inline-block;
  color: #132f38;
}

.dark-theme header i {
  color: #f3e1a7;
}

.header-right {
  justify-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-right i {
  font-size: 2em;
  margin-left: 15px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.header-right i:hover {
  cursor: pointer;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  -webkit-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #111b20;
}

.dark-theme .header-right i:hover {
  color: #e2c35e;
}

.fa-sun {
  font-size: 2em;
}

.fa-moon {
  font-size: 1.9em;
  -webkit-transform: rotate(210deg);
          transform: rotate(210deg);
}

.switch {
  display: inline-block;
  height: 34px;
  width: 60px;
  background-color: #cccccc;
  cursor: pointer;
  border-radius: 34px;
  -webkit-transition: .4s;
  transition: .4s;
}

.switch:before {
  display: inline-block;
  background-color: #ffffff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: relative;
  top: 2px;
  left: -12px;
  -webkit-transition: .4s;
  transition: .4s;
  width: 26px;
  border-radius: 50%;
}

.dark-theme .switch {
  background-color: #999999;
}

.dark-theme .switch:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
  background-color: white;
}

.parallax {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: hidden;
  overflow-x: visible;
}

.parallax::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100vh;
  top: 70%;
  background: -webkit-gradient(linear, left top, left bottom, from(#492e05), color-stop(50%, #301727), to(#3b0f35));
  background: linear-gradient(180deg, #492e05 0%, #301727 50%, #3b0f35 100%);
  z-index: -1;
  overflow-x: hidden;
}

#plus-parallax {
  position: absolute;
  left: 68%;
}

.star {
  display: none;
  width: 4%;
}

#plus-star {
  display: none;
}

.cloud {
  display: block;
}

.dark-theme .star {
  display: block;
}

.dark-theme #plus-star {
  display: block;
  position: absolute;
  top: 10%;
  right: 17%;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.dark-theme .cloud {
  display: none;
}

#cloud1 {
  position: absolute;
  z-index: 21;
  width: 15%;
  top: 5%;
  left: 3%;
}

#cloud2 {
  position: absolute;
  z-index: 22;
  width: 15%;
  top: 20%;
  right: 5%;
}

#cloud3 {
  position: absolute;
  z-index: 23;
  width: 17.5%;
  top: 40%;
  left: 15%;
}

#star1 {
  position: absolute;
  z-index: 11;
  top: 5%;
  left: 15%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#star1:hover {
  -webkit-transform: rotate(144deg) scale(1.5);
          transform: rotate(144deg) scale(1.5);
  -webkit-transition: 1.2s;
  transition: 1.2s;
  cursor: pointer;
}

#star2 {
  position: absolute;
  z-index: 12;
  top: 10%;
  right: 20%;
  -webkit-transform: rotate(30deg);
          transform: rotate(30deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

#star2:hover {
  -webkit-transform: rotate(72deg) scale(1.4);
          transform: rotate(72deg) scale(1.4);
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
}

#star3 {
  position: absolute;
  z-index: 13;
  top: 30%;
  left: 8%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#star3:hover {
  -webkit-transform: rotate(-216deg) scale(1.2);
          transform: rotate(-216deg) scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

#star4 {
  position: absolute;
  z-index: 14;
  top: 40%;
  right: 5%;
  -webkit-transform: rotate(15deg);
          transform: rotate(15deg);
  -webkit-transition: 1.5s;
  transition: 1.5s;
}

#star4:hover {
  -webkit-transform: rotate(144deg) scale(1.2);
          transform: rotate(144deg) scale(1.2);
  -webkit-transition: 2s;
  transition: 2s;
  cursor: pointer;
}

#title {
  position: absolute;
  z-index: 24;
  left: 50%;
  font-family: "Chewy", cursive;
  font-size: 10vw;
  text-align: center;
  line-height: 1;
  word-wrap: normal;
  text-transform: uppercase;
  color: #fe938cff;
  -webkit-transform: translate(-50%, 10%);
          transform: translate(-50%, 10%);
  text-shadow: 5px 5px #ffc9b5ff;
  -webkit-text-stroke: 0.05em #ffc9b5ff;
}

.dark-theme #title {
  color: #e2c35e;
  -webkit-text-stroke: 0.05em #ffe9b0;
  text-shadow: 5px 5px #ffe9b0;
}

#rabbithole {
  position: absolute;
  z-index: 25;
  width: 120%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-48%);
          transform: translate(-48%);
}

#bush1 {
  position: absolute;
  z-index: 27;
  width: 55%;
  top: 45%;
  left: 0%;
  -webkit-transform: translate(-10%);
          transform: translate(-10%);
}

#bush2 {
  position: absolute;
  z-index: 26;
  width: 55%;
  top: 45%;
  right: 0%;
  -webkit-transform: translate(10%);
          transform: translate(10%);
}

.intro {
  width: 100%;
  height: 100%;
  margin-top: 100px;
}

.intro-card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  width: 40vw;
  max-width: 600px;
  height: 40vh;
  max-height: 300px;
  padding: 20px 50px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  -webkit-box-shadow: 5px 5px 50px #00000040;
          box-shadow: 5px 5px 50px #00000040;
  border-top: 1px solid rgba(255, 255, 255, 0.4);
  border-left: 1px solid rgba(255, 255, 255, 0.4);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

#intro-card {
  color: white;
  font-family: "Courier New", Courier, monospace;
  font-weight: 700;
  font-size: 1.8em;
  text-align: center;
  word-wrap: normal;
}

#intro-card strong {
  color: #fedb50ff;
}

#plus-typed {
  top: 0%;
  right: -10%;
}

span[data-descr] {
  position: relative;
  text-decoration: underline;
  color: #00F;
  cursor: help;
  margin: 500px auto;
}

span[data-descr]:hover::after,
span[data-descr]:focus::after {
  display: block;
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 24px;
  min-width: 200px;
  border: 1px #aaaaaa solid;
  border-radius: 10px;
  background-color: #ffffcc;
  padding: 12px;
  color: #000000;
  font-size: 14px;
  z-index: 1;
}

.plus {
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background-image: url("../assets/plus.svg");
  z-index: 100;
  opacity: 80%;
}

.plus:hover {
  cursor: pointer;
}

.plus:hover::after {
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 50px;
  width: 15vw;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  -webkit-box-shadow: 5px 5px 20px #1010100d;
          box-shadow: 5px 5px 20px #1010100d;
  padding: 15px;
  color: #000000;
  font-size: 1em;
  opacity: 100%;
}
